{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
        <nav class="naviBar">
            <span class="nextTo"><a href="#">Maciej <span class="diffCol">Tekień</span></a></span>
            <div class="rightLinks">
                <a href="#section1" data-section="0">About</a>
                <a href="#section2" data-section="1">Experience</a>
                <a href="#section3" data-section="2">Education</a>
                <a href="#section4" data-section="3">Skills</a>
                <a href="#section5" data-section="4">Contact</a>
            </div>

            <div class="menu" id="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </nav>


<!--        zawartość całej strony-->
        <div class="mainContainer">

<!--            strzałka w górę-->
            <div class="arrowU">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>
                </svg>
            </div>

<!--            sekcja 1-->
            <div class="section" id="section1">
                <div class="aboutContainer">
    <!--                treść About i zdjęcie profilowe-->
                    <div class="about">

                        <div class="text">
                            <h1>Maciej Tekień</h1>
                            <p>I began my journey in programming with the Python Developer course in 2022. <br>To this day,
                                I continue expanding my knowledge at a university.<br> I use the skills I’ve acquired to
                                explore new programming languages, such as JavaScript. <br> I am seeking a job where I can
                                primarily gain experience. I am also open to internships or traineeships.
                            </p>
                        </div>

                        <div class="photoCont">
                            <img src="../static/assets/images/prof.jpg" alt="profile_pic">
                        </div>

                    </div>
    <!--                przyciski-->
                    <div class="buttons">
                        <a href="https://github.com/MaciejTekien">
                        <button>GitHub</button>
                        </a>
                        <a href="../static/assets/files/Maciej_Tekień_CV.pdf" download="Maciej_Tekień_CV.pdf">
                        <button>Download CV</button>
                        </a>
                        <a href="https://www.linkedin.com/in/maciej-tekień-5710a9335/">
                        <button>LinkedIn</button>
                        </a>
                    </div>
                </div>
            </div>

<!--            sekcja 2-->
            <div class="section" id="section2">
<!--                doświadczenie w formie 3 zdobionych podsekcji-->
                <div class="experience">
                    <div class="frame">
                        <h2>
                            10.2022 - 09.2024
                            <br>
                            Python Teacher Sky Blue, Wrocław
                        </h2>
                        <ul>
                            <li>Creating and teaching courses</li>
                            <li>Teaching youth using Microsoft MakeCode</li>
                            <li>Marketing</li>
                        </ul>
                    </div>

                    <div class="frame">
                        <h2>
                            04.2022 - 05.2022
                            <br>
                            Seller COTEL, Wrocław
                        </h2>
                        <ul>
                            <li>Keeping good relationships with a client</li>
                            <li>Marketing</li>
                            <li>Systematic fulfillment of company objectives</li>
                        </ul>
                    </div>

                    <div class="frame">
                        <h2>
                            08.2021 - 10.2021
                            <br>
                            Seller, Szklarska Poręba
                        </h2>
                        <ul>
                            <li>Assisting, advising, and providing help to customers</li>
                            <li>Handling payments, issuing VAT invoices</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section"  id="section3">
                <div class="education">
                    <div class="norwid">
                        <div class="background-image" style="background-image: url('../static/assets/images/norwid.jpg');"></div>
                        <div class="text-content">
                            <h2>
                            09/2018 - 05/2021 <br>
                            II Liceum Ogólnokształcące im. Cypriana Kamila Norwida w Jeleniej Górze
                            </h2>
                            <p>Maths and Phisics</p>
                        </div>
                    </div>

                    <div class="dsw">
                        <div class="background-image" style="background-image: url('../static/assets/images/dsw.jpg');"></div>
                        <div class="text-content">
                            <h2>
                            09/2022 - present <br>
                            Uniwersytet Dolnośląski DSW
                            </h2>
                            <p>Science Technology</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section"  id="section4">
                <div class="skills-container">

                    <div class="skill-description" id="description_01">
                        <h1>Python</h1>
                        <p>Python is my first language that I learned. Since 2022 I have been using it to teach and
                            create courses for SkyBlue. It also helped me learn JavaScript and nowadays I do not
                            have problems in understanding other programming languages.</p>
                    </div>
                    <div class="skill-description" id="description_02">
                        <h1>Java Script</h1>
                        <p>JavaScript is the language that I have learned basics of not so long ago. I do not know
                        React.js yet, but I am about to learn it as well. Even tho, I consider knowlage of basics
                        a good start.</p>
                    </div>
                    <div class="skill-description" id="description_03">
                        <h1>CSS & HTML</h1>
                        <p>CSS and HTML, they both came in pair with JS. Even that I am not using them daily,
                        they are useful in some of my projects (like this one)</p>
                    </div>
                    <div class="skill-description" id="description_04">
                        <h1>Django</h1>
                        <p>I have been working with Django since 2022 to build scalable and secure web applications.
                            I have contributed to various projects, including managing databases and
                            implementing user authentication.
                        </p>
                    </div>
                    <div class="skill-description" id="description_05">
                        <h1>SQL</h1>
                        <p>I have been using SQL to manage and query relational databases. I am experienced
                            in working with various database systems such as PostgreSQL.
                        </p>
                    </div>
                    <div class="skill-description" id="description_06">
                        <h1>Git</h1>
                        <p>I have experience working with the Git version control system and proficiency in team
                            collaboration using Git and the GitFlow.</p>
                    </div>
                    <div class="skill-description" id="description_07">
                        <h1>Scrum & Agile</h1>
                        <p>Ability to work effectively in a team with Scrum and Agile methodologies
                            that I experienced on Coders Lab Course</p>
                    </div>
                    <div class="skill-description" id="description_08">
                        <h1>Time Management</h1>
                        <p>Ability to efficiently organize work on projects, demonstrating strong time management
                            and prioritization skills.</p>
                    </div>
                    <div class="skill-description" id="description_09">
                        <h1>Skills Combiner</h1>
                        <p>What if you combine my skills?</p>
                        <div class="picker_button">
                        <a href="/picker"><button id="picker_btn">Skills Combiner</button></a>
                        </div>
                    </div>

                    <div class="skills-content">
                        <div class="arrowL">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                            </svg>                              
                        </div>
                            <div class="skills">
                                <div class="skill" id="skill_01">Python</div>
                                <div class="skill" id="skill_02">Java Script</div>
                                <div class="skill" id="skill_03">CSS & HTML</div>
                                <div class="skill" id="skill_04">Django</div>
                                <div class="skill" id="skill_05">SQL</div>
                                <div class="skill" id="skill_06">Git</div>
                                <div class="skill" id="skill_07">Scrum & Agile</div>
                                <div class="skill" id="skill_08">Time Management</div>
                                <div class="skill" id="skill_09">Skills Combiner</div>
                            </div>  

                        <div class="arrowR">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                            </svg>                              
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="section"  id="section5">
                    <div class="contact-info">
                        <h1>Contact Info</h1>
                        <h2 class="image-text"><img src="../static/assets/pngs/icons8-location-100.png" alt="location_icon">Katowice, Rzepakowa</h2>
                        <h2 class="image-text"><img src="../static/assets/pngs/icons8-mail-100.png" alt="mail_icon">m.tekien02@gmail.com</h2>
                        <h2 class="image-text"><img src="../static/assets/pngs/icons8-phone-64.png" alt="phone_icon">+48 725 696 030</h2>
                    </div>
                    <div class="contact-form">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Send</button>
                        </form>
                    </div>
            </div>

<!--            strzałka w dół-->
            <div class="arrowD">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                </svg>
            </div>
        </div>


    <script src="{% static 'js/script2.js' %}"></script>

</body>
</html>